services:
  app:
    container_name: app-container
    image: {{  docker_image }}
    environment:
      - ENVIRONMENT=DEV
      - HOST=0.0.0.0
      - PORT=8000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
    ports:
      - "8000:8000"
    depends_on:
      - redis
    networks:
      - app-network
    command: python hello.py
    

  redis:
    image: "redis:6.0-alpine"
    ports:
      - "6379:6379"
    networks:
      - app-network
    container_name: redis-container

networks:
  app-network:
    driver: bridge